AUTH_PORT=8081
AUTH_GRPC_PORT=50051

TASKS_PORT=8082
AUTH_GRPC_ADDR=auth:50051
DATABASE_URL=postgres://tasksuser:taskspass@postgres:5432/tasksdb?sslmode=disable

POSTGRES_DB=tasksdb
POSTGRES_USER=tasksuser
POSTGRES_PASSWORD=taskspass

REDIS_ADDR=redis:6379
CACHE_TTL_SECONDS=120
CACHE_TTL_JITTER_SECONDS=30

RABBIT_URL=amqp://guest:guest@rabbitmq:5672/
QUEUE_NAME=task_jobs
DLX_NAME=task_jobs_dlx
DLQ_NAME=task_jobs_dlq
WORKER_PREFETCH=1
MAX_ATTEMPTS=3
PROCESSING_MIN_MS=2000
PROCESSING_MAX_MS=5000

GRAPHQL_PORT=8090
